* {
border: thin solid red;
margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

#header {
  background-image: url(imagenes/anime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
}
#header-login {
  text-align: right;
  padding-right: 5em;
}

#header li {
  display: inline-block;
}
.login1 {
  padding: 6px;
}

#header ul {
  list-style-type: none;
}

#login {
  background-color: #3ab54a;
}

#menu {
  background-color: white;
  color: black;

}
#menu div {
  display: inline-block;
  font-size: 2.5em;
  padding: 0.5em;
  padding-right: 3em;
}

#menu div > span {
  color: #3ab54a;
}

#menu div > i {
  color: #3ab54a;
}

#menu ul {
  float: right;
  font-size: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-right: 3em;
}
#menu li {
  padding-right: 1em;
}

#menu::after {
  content: "";
  clear: both;
  display: table;
}

#header-imagen {
  text-align: center;
  padding: 7em;
}

#header-imagen div > h1{
  color: #3ab54a;
  font-size: 2.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#header-imagen div > h2{
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 1em;
}

.barra {
  list-style-type: none;
  padding: 0;
}


#search {
  position: absolute;
  background-color: #3ab54a;
  font-size: 1em;
  padding: 10.8px;
  padding-left: 2em;
  padding-right: 2em;
  float: right;
}
#busqueda{
  font-size: 2em;
}

#no-se {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 13em;
  padding-right: 13em;
}

.no-se-cosas {
  text-align: center;
  padding: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

#no-se i {
  font-size: 5em;
  color: #3ab54a;
}

#cursos {
  background-color: #f3f6fb;
  padding: 2em;
  padding-left: 13em;
  padding-right: 13em;
}

#cursos h2 {
  text-align: center;
}
#cursos h2 > span {
  color: #3ab54a;
}
#cursos-menu ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
#cursos-menu li {
  display: inline-block;
  padding: 10px;
}
#verde {background-color:#3ab54a }
#all-courses {
  float: right;
  padding: 10px;
  border: 1px solid #3ab54a;
  color: #3ab54a;
}
#cursos-menu {
  margin-top: 3em;
  background-color: white;
}

#cartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.carta img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.texto {
  padding: 1em
}
.carta-sub {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #c1c1c1
}
.espacio {
  height: 4px;
  background-color: #f3f6fb;
}
.likes {
  padding: 1em;
}
.likes div {padding: 2em;}
.likes div > ul {
  float: right;
  padding: 0;
}
.likes div > ul > li {
  color: green;
  border: 1px solid none;
  background-color: #97ebb7;
  border-radius: 5em;
}
.likes span {
  padding: 10px;
  border: 1px solid #3ab54a;
  border-radius: 5em;
  background-color: #3ab54a;
  color: white
}
