* {
margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: white;
}

#header {
  background-image: url(imagenes/anime.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  color: white;
}
#header-login {
  text-align: right;
  padding-right: 5em;
}

#header li {
  display: inline-block;
}
.login1 {
  padding: 6px;
}

#header ul {
  list-style-type: none;
}

#login {
  background-color: #3ab54a;
}

#menu {
  background-color: white;
  color: black;

}
#menu div {
  display: inline-block;
  font-size: 2.5em;
  padding: 0.5em;
  padding-right: 3em;
}

#menu div > span {
  color: #3ab54a;
}

#menu div > i {
  color: #3ab54a;
}

#menu ul {
  float: right;
  font-size: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  padding-right: 3em;
}
#menu li {
  padding-right: 1em;
}

#menu::after {
  content: "";
  clear: both;
  display: table;
}

#header-imagen {
  text-align: center;
  padding: 7em;
}

#header-imagen div > h1{
  color: #3ab54a;
  font-size: 2.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#header-imagen div > h2{
  font-size: 2em;
  padding-top: 0.2em;
  padding-bottom: 1em;
}

.barra {
  list-style-type: none;
  padding: 0;
}


#search {
  position: absolute;
  background-color: #3ab54a;
  font-size: 1em;
  padding: 10.8px;
  padding-left: 2em;
  padding-right: 2em;
  float: right;
}
#busqueda{
  font-size: 2em;
}

#no-se {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 13em;
  padding-right: 13em;
}

.no-se-cosas {
  text-align: center;
  padding: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

#no-se i {
  font-size: 5em;
  color: #3ab54a;
  padding-bottom: 0.5em;
}

#cursos {
  background-color: #f3f6fb;
  padding: 2em;
  padding-left: 13em;
  padding-right: 13em;
}

#cursos h2 {
  text-align: center;
}
#cursos h2 > span {
  color: #3ab54a;
}
#cursos-menu-ul {
  list-style-type: none;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 96%;
}

#cursos-menu-ul {
  clear: both;
  display: inline-table;
  content: " ";
}
#cursos-menu li {
  display: inline-block;
  padding: 10px;
}

#verde {background-color:#3ab54a }
#all-courses {
  float: right;
  padding: 10px;
  border: 1px solid #3ab54a;
  color: #3ab54a;
}
#cursos-menu {
  margin-top: 3em;
  background-color: white;
}

#cartas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.carta img {
  width: 100%;
  max-width: 100%;
}
.texto {
  padding: 1em;
  font-size: 100%;
}
.carta-sub {
  padding-top: 1em;
  padding-bottom: 1em;
  color: #c1c1c1;
}
.espacio {
  height: 4px;
  background-color: #f3f6fb;
}
.likes {
  padding: 1em;
}
.likes div {padding: 2em;}
.likes div > ul {
  float: right;
  padding: 0;
  margin: -0.6em;
}
.likes div > ul > li {
  color: #3ab54a;
  border: 1px solid none;
  background-color: #97ebb7;
  border-radius: 5em;
}
.likes span {
  padding: 10px;
  border: 1px solid #3ab54a;
  border-radius: 5em;
  background-color: #3ab54a;
  color: white;
}

#imagen-mitad {
  background-image: url(imagenes/anime2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  padding: 7em;
  text-align: center;
}
#imagen-mitad p {
  padding-bottom: 2em;
  font-weight: bold;
}
#verde1 {
  color: #3ab54a;
}

#apply {
  position: relative;
  top: 2em;
  color: white;
  background-color: #3ab54a;
  padding: 1em;
}
#imagenes {
  text-align: center;
  padding-left: 13em;
  padding-right: 13em;
}
#videos {
  content: "";
  clear: both;
  display: table;
}
#videos {
  display: grid;
  grid-template-columns: 2fr 2fr;
}
#videos img {
  max-width: 100%;
  width: 100%;
}

#video-grande {
  position: relative;
  color: #3ab54a;
  font-size: 3em;
  padding: 0.5em;
}

.fa-circle-play {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#videos-pequeños {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.videop {
  position: relative;
  color: #3ab54a;
  font-size: 2em;
  padding: 0.5em;
}

#footer {
  background-color: #1f2022;
  padding-left: 13em;
  padding-right: 13em;
}
#columnas-footer {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr;
  padding-top: 2em;
  padding-bottom: 3em;
}
.blanco {
  color: white;
}
.texto-footer {
  color: #939aa0;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 100%;
}

#redes {
  list-style-type: none;
}
#redes li{
  font-size: 1.5em;
  color: #939aa0;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border-radius: 4em;
  background-color: #505455;
  width: 1em;
  text-align: center;
}
.titulos-footer {
  color: white;
  padding-bottom: 0.7em;
}
.linea {
  border-bottom: 2px solid #3ab54a;
  padding-bottom: 0.7em;
}
.punto {
  list-style-type: none;
  padding-left: 0;
}
.punto li {
  padding-bottom: 5px;
}
#suscribirse {
  list-style-type: none;
  padding: 0;
  position: relative;
}
#suscribirse li {
  display: inline-block;
}
#subbarra {
  width: 50%;
}
#suscribirse li > input{
  display: inline-block;
  padding: 1em;
  width: 100%;
}
#sub {
  position: absolute;
  background-color: #3ab54a;
  color: white;
  padding: 0.84em;
  top: 0;
}
#black {
  background-color: black;
  padding-top: 3em;
}
#black p {
  text-align: center;
  color: #939aa0;
}
.fa-angle-up {
  position: relative;

  padding: 10px;
  font-size: 1em;
  color: #939aa0;
  background-color: white;
  border-radius: 5em;
  margin-bottom: 1em;
}

@media (max-width: 600px) {
  #columnas-footer {
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .videop {
    font-size: 1em;
  }
  #cartas {
    display: grid;
    grid-template-columns: 1fr;
  }
}
